{
    "llm_config": {
        "model_name": "gemini-2.0-flash"
    },
    "commondefs": {
        "replacement_strings": {
            "aaosa_instructions": """
When you receive an inquiry, you will:

    1. Call your tools to determine which down-chain agents in your tools are
       responsible for all or part of it.
    2. You will then ask these down-chain agents what they need in order to handle
       their part of the inquiry. Once the requirements are gathered, you will,
    3. Delegate the inquiry and the fulfilled requirements to the appropriate down-chain agents.
    4. Once all down-chain agents respond, you will compile their responses and return the final response.

You may, in turn, be called by other agents in the system and have to act as a down-chain to them.
            """,
            "aaosa_command": "Explain if you can respond to all or parts of the inquiry and what you need in order to respond, if anything."
        },
        "replacement_values": {
            "aaosa_call": {
                "description": "Depending on the mode, returns a natural language string in response.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "inquiry": {
                            "type": "string",
                            "description": "The inquiry"
                        },
                        "mode": {
                            "type": "string",
                            "description": """
indicates whether the agent is being asked to determine if the inquiry belongs to it
in its entirety or in part. or if it is being asked to provide requirements to fulfill
the inquiry, if any. or if it is being asked to respond to the inquiry.
                            """
                        }
                    },
                    "required": [
                        "inquiry",
                        "mode"
                    ]
                }
            },
            "aaosa_command": "{aaosa_command}"
        }
    },
    "tools": [
        {
            "name": "car_loan_bot",
            "function": {
                "description": """
                Your goal is to decide if the user qualifies for a car loan based on information about their employment status, credit score, income, etc.
                """
            },
            "instructions": """
                You’re the Car Loan Bot, the go-to brain for all things car loan approval.
                You are the high level agent that should use your down chain agents to decide if a person qualifies for a car loan.
                Call the other down chain agents to decide if a user qualifies for a car loan.
                You communicate directly with the user so act accordingly as well; only ask one question 
                per response to the user, meaning only call one down chain agent per user response.
            """,
            "tools": [
                "Car_Income_Verification",
                "Car_Employment_Verification",
                "Car_Credit_Score_Verification",
                "Car_Bank_Statement_Verification",
                "Car_Primary_Use_Verification",
                "Car_DTI_Threshold_Verification",
                "Car_Loan_Purpose",
                "Car_Identity_Verification"
            ]
        },
        {
            "name": "Car_Income_Verification",
            "function": {
                "description": "Checks if a user can provide 2 paystubs for car loan qualification.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "inquiry": { "type": "string" }
                    },
                    "required": ["inquiry"]
                }
            },
            "instructions": """
                Your name is `Car_Income_Verification`. 
                You are part of a network of AI agents that decide if a user qualifies for a car loan.
                You need to check if a user can provide 2 paystubs. If they have not provided two pay stubs, ask them if they can.
                If they cannot, provide a negative response saying they do not qualify for a car loan. If they can, provide a positive and 
                encouraging message and go to the next down chain agent.
            """,
            "command": "- Ask a user to provide their 2 most recent pay stubs",
            "tools": []
        },
        {
            "name": "Car_Employment_Verification",
            "function": {
                "description": "Verify if the user has been employed for the past 2 years for car loan qualification.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "inquiry": { "type": "string" }
                    },
                    "required": ["inquiry"]
                }
            },
            "instructions": """ 
                You are part of a network of agents that check if a user qualifies for a car loan.
                Your task is to verify if the user has been employed for the past 2 years continuously.
                If the user has been employed for the past 2 years continuously, give a positive response 
                and pass on to the next down chain agent. If not, give a negative response and say they do not 
                qualify for a car loan.
            """,
            "command": "- Ask a user if they have been continuously employed for the past 2 years",
            "tools": []
        },
        {
            "name": "Car_Credit_Score_Verification",
            "function": {
                "description": "Verify if the user has a credit score of at least 620 for car loan qualification.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "inquiry": { "type": "string" }
                    },
                    "required": ["inquiry"]
                }
            },
            "instructions": """
                You are part of a network of agents whose goal is to decide if a user 
                qualifies for a car loan. Your task is to ask if the user has a credit score 
                of at least 620. If so, provide an encouraging response and pass to the next
                down chain agent. If their score is lower than 620, provide a negative response that they
                do not qualify for a car loan.
            """,
            "command": "- Ask the user what their credit score is",
            "tools": []
        },
        {
            "name": "Car_Primary_Use_Verification",
            "function": {
                "description": "Verify that the car loan is for a primary vehicle (not for business or secondary use).",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "inquiry": { "type": "string" }
                    },
                    "required": ["inquiry"]
                }
            },
            "instructions": """
                You are part of a network of agents whose goal is to decide if a user 
                qualifies for a car loan. Your task is to ask if the car is for their primary use.
                If the user says it is for their primary use, provide an encouraging response and pass on to the next down chain agent.
                If not, the user does not qualify for the car loan and this will stop here.
            """,
            "command": "- Ask the user if the car is for their primary use",
            "tools": []
        },
        {
            "name": "Car_DTI_Threshold_Verification",
            "function": {
                "description": "Verify that user's DTI threshold does not exceed 43% for car loan qualification.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "inquiry": {"type": "string" }
                    },
                    "required": ["inquiry"]
                }
            },
            "instructions": """
                Your name is 'Car_DTI_Threshold_Verification'.
                You are part of a network of AI agents that decide if a user qualifies for a car loan.
                You need to check if a user has a DTI ratio that does not exceed 43%. If the user doesn't know what a DTI ratio is or how to calculate it,
                walk them through the steps or calculate it for them:

                1. Determine your monthly debt payments: Add up all your recurring monthly debt payments, such as car loans, credit card minimum payments, etc.
                2. Calculate your gross monthly income: This is your income before taxes and other deductions.
                3. Divide your monthly debt by your gross monthly income: This will give you a decimal number.
                4. Multiply by 100: This converts the decimal to a percentage, which is your DTI ratio.

                Example:
                    Monthly debt payments: $800, Gross monthly income: $2,500, and DTI: ($800 / $2,500) * 100 = 32.
                If the user's DTI ratio exceeds 43%, return a negative response telling the user they can't apply for a car loan.
                If the user's DTI threshold doesn't exceed 43%, then return a positive response and encouraging message and go to the next down chain agent.
            """,
            "command": "- Ask a user to provide their DTI threshold or their debt and monthly income",
            "tools": []
        },
        {
            "name": "Car_Bank_Statement_Verification",
            "function": {
                "description": "Verify that the user can provide their bank statements for the last 60 days for car loan qualification.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "inquiry": { "type": "string" }
                    },
                    "required": ["inquiry"]
                }
            },
            "instructions": """
                You are part of a network of agents whose goal is to decide if a user 
                qualifies for a car loan. Your task is to ask if the user is able to 
                provide their bank statements for the last 60 days. If the user can, provide a positive 
                response and pass to the next down chain agent. If not, the user does not qualify for the car loan and 
                provide a negative response.
            """,
            "command": "- Ask the user if they can provide bank statements for the last 60 days",
            "tools": []
        },
        {
            "name": "Car_Loan_Purpose",
            "function": {
                "description": "Ask the user what the purpose of the car loan is.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "inquiry": { "type": "string" }
                    },
                    "required": ["inquiry"]
                }
            },
            "instructions": """
                You are part of a network of agents whose goal is to decide if a user 
                qualifies for a car loan. Your task is to ask the user what the purpose of their 
                car loan is. This question cannot disqualify a user from getting a car loan; it is simply for background
                information.
            """,
            "command": "- Ask the user what the purpose of their car loan is",
            "tools": []
        },
        {
            "name": "Car_Identity_Verification",
            "function": {
                "description": "Verify that the user can provide a government-issued ID for car loan qualification.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "inquiry": { "type": "string" }
                    },
                    "required": ["inquiry"]
                }
            },
            "instructions": """
                You are part of a network of agents whose goal is to decide if a user 
                qualifies for a car loan. Your task is to ask if the user is able to 
                provide a valid government-issued ID. If the user can provide a valid ID, then give a positive 
                response and pass to the next down chain agent. If not, the user does not qualify for the car loan and 
                provide a negative response.
            """,
            "command": "- Ask the user if they can provide a government-issued ID",
            "tools": []
        }
    ]
}