# Copyright (C) 2023-2025 Cognizant Digital Business, Evolutionary AI.
# All Rights Reserved.
# Issued under the Academic Public License.
#
# You can be released from the terms, and requirements of the Academic Public
# License by purchasing a commercial license.
# Purchase of a commercial license is mandatory for any use of the
# neuro-san SDK Software in commercial settings.
#
# END COPYRIGHT
{
    # Currently we list each hocon file we want to serve as a key with a boolean value.
    # Eventually we might have a dictionary value with server specifications for each.

    # Industry-specific agent networks
    "airline_policy.hocon": false,
    "banking_ops.hocon": false,
    "cpg_agents.hocon": false,
    "insurance_underwriting_agents.hocon": false,
    "intranet_agents_with_tools.hocon": false,
    "carloan.hocon": true,
    "retail_ops_and_customer_service.hocon": false,
    "telco_network_support.hocon": false,
    "therapy_vignette_supervisors.hocon": false,
    "consumer_decision_assistant.hocon": false,
    # The following agent networks are used as sub-networkds by consumer_decision_assistant.hocon
    "airbnb.hocon": false,
    "expedia.hocon": false,
    "macys.hocon": false,
    "carmax.hocon": false,
    "booking.hocon": false,
    "website_search.hocon": false,
    "LinkedInJobSeekerSupportNetwork.hocon": false
}
